// --------------------------------------------------------------
// Playback progress
// --------------------------------------------------------------

// Offset the range thumb in order to be able to calculate the relative progress (#954)
$plyr-progress-offset: $plyr-range-thumb-height;

.plyr__progress {
  left: calc(#{$plyr-progress-offset} * 0.5);
  margin-right: $plyr-progress-offset;
  position: relative;

  input[type='range'],
  &__line,
  &__buffer {
    margin-left: calc(#{$plyr-progress-offset} * -0.5);
    margin-right: calc(#{$plyr-progress-offset} * -0.5);
    width: calc(100% + #{$plyr-progress-offset});
  }

  input[type='range'] {
    position: relative;
    z-index: 2;
  }

  // Seek tooltip to show time
  .plyr__tooltip {
    left: 0;
    max-width: 120px;
    overflow-wrap: break-word;
    white-space: normal;
  }
}

.plyr__progress__buffer, .plyr__progress__line {
  -webkit-appearance: none; /* stylelint-disable-line */
  background: transparent;
  border: 0;
  border-radius: 100px;
  height: calc((#{$plyr-range-thumb-active-shadow-width} * 2) + #{$plyr-range-thumb-height});
  display: flex;
  align-items: center;  
  left: 0;
  padding: 0;
  position: relative;

  .plyr__progress__segments {
    width: 100%;
    left: 0;
    height: $plyr-range-track-height;    
    display: flex;    
    .plyr__progress__segment {
      position: relative;
      margin-right: 2px;
      overflow: hidden;
      &.plyr__progress__segment-hover {
        transform: scaleY($plyr-range-track-scale);
        transition: transform 0.1s ease;
      } 
      .plyr__progress__segment-bg, 
      .plyr__progress__segment-time, 
      .plyr__progress__segment-buffer {
        position: absolute;
        width: 100%;
        height: $plyr-range-track-height;
        transform-origin: 0 0;
        left: 0px;
      }
      .plyr__progress__segment-bg {
        background-color: $plyr-video-range-track-background;
        
      }
      .plyr__progress__segment-time {
        background-color: $plyr-range-fill-background;
        border-radius: calc(#{$plyr-range-thumb-height} * 2);
        transition: box-shadow 0.3s ease;
      }
      .plyr__progress__segment-buffer {
        background-color: $plyr-video-progress-buffered-background;        
        background-size: $plyr-progress-loading-size $plyr-progress-loading-size;
      }      
    }
  }

  &::-webkit-progress-bar {
    background: transparent;
  }

  &::-webkit-progress-value {
    background: currentColor;
    border-radius: 100px;
    min-width: $plyr-range-track-height;
    transition: width 0.2s ease;
  }

  // Mozilla
  &::-moz-progress-bar {
    background: currentColor;
    border-radius: 100px;
    min-width: $plyr-range-track-height;
    transition: width 0.2s ease;
  }

  // Microsoft
  &::-ms-fill {
    border-radius: 100px;
    transition: width 0.2s ease;
  }
}

// Loading state
.plyr--loading .plyr__progress__buffer {
  animation: plyr-progress 1s linear infinite;
  background-color: red;
  background-size: $plyr-progress-loading-size $plyr-progress-loading-size;
  // color: transparent;
}

.plyr--video.plyr--loading .plyr__progress__buffer {
  background-color: $plyr-video-progress-buffered-background;
}

.plyr--audio.plyr--loading .plyr__progress__buffer {
  background-color: $plyr-audio-progress-buffered-background;
}

// Markers
.plyr__progress__marker {
  background-color: $plyr-progress-marker-background;
  border-radius: 1px;
  height: $plyr-range-track-height;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: $plyr-progress-marker-width;
  z-index: 3;
}
